@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.pagina_geral
{
    background-color: #fdf063;
    padding: 20px;
}

img
{
    width: 500px;
    margin-left: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.grid1
{
    background-color: #fded00;
    width: 70%;
    padding: 20px;
    border-radius: 100px;
    margin-left: 15%;
    margin-bottom: 5%;
}

h1
{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
}

button
{
    background-color: #63a355;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
}

.botao
{
    text-align: center;
}

@media screen and (max-width: 890px)
{
    img
    {
    margin-left: 15%;
    }
}